nav{
    background-color: transparent !important;
    border: 2px solid #7eff7e;
    margin-top: 2px;
    box-shadow: 0px 0px 15px #0eb50e inset;
    border-radius: 5px;
}

.navbar-brand{
    color: #001fff !important;
}