.row {
    display: flex;
    /* equal height of the children */
}

.col {
    flex: 1;
    /* additionally, equal width */
    padding: 1em;
    border: solid;
}

.boxes-custom {
    height: 43Vh;
    padding: 15px;
}

.insider{
    border:2px solid #00d3ff;
    height:40vh;
    border-radius: 10px;
    padding: 10px;
    color:white;
    box-shadow: 0px 0px 10px #00d3ff inset;
    background: #0074904a;
}
.insider:hover{
    box-shadow: 0px 0px 15px #00d3ff inset;
    background: #003c4a4a;
}